/**
* ! Changing default styles of the browser
**/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

/* fa styiling */
.fa .fa-circle-x .fa-minus .fa-plus {
  cursor: pointer;
}

.fa-circle-xmark, .fa-minus {
  color: red;
}

.fa-plus {
  color: green;
}

.fa-circle-xmark{
  transition: 1s;
}

.fa-circle-xmark:hover{
  color: brown;
  transition: 1s;
}

/**
* ! Navbar STyles are here
**/

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #212529;
  color: white;
  padding: 25px 60px;
  margin-bottom: 30px;
}

.cart {
  position: relative;
  color: #fff;
  font-size: 30px;
  padding: 5px;
  border-radius: 4px;
}

.cartAmount {
  position: absolute;
  top: -15px;
  right: -10px;
  font-size: 16px;
  background-color: red;
  color: white;
  padding: 3px;
  border-radius: 3px;
}

/* stuffs */

.text-center {
  text-align: center;
  margin-bottom: 20px;
}

.HomeBtn,
.checkout,
.removeAll {
  background-color: #c00000;
  color: white;
  border: none;
  padding:0.5rem 1rem;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 10px;
  transition: 1s;
}

.checkout {
  background-color: green;
}

.removeAll {
  background-color: red;
}

.HomeBtn:hover{
  background-color: black;
  transition: 1s;
}

.checkout:hover {
  background-color: rgb(0, 79, 0);
  transition: 1s;
}

.removeAll:hover {
  background-color: brown;
  transition: 1s;
}




/* cart */

.shopping-cart {
  display: grid;
  grid-template-columns: 0.5fr;
  margin: 0 auto;
  justify-content: center;
  gap: 3rem;
}

/**
* ! style rules for cart-item
**/

.cart-item {
  display: flex;
  align-items: center;
  vertical-align: middle;
  border-bottom: 2px solid #212529;
  padding-bottom: 2rem;
}

.cart-item:last-of-type{
  border: none;

}

.cart-item img {
  width: 50%;
}

.title-price-x {
  width: 195px;
  display: flex;
  justify-content: space-between;
}

.title-price {
  display: flex;
  align-items: center;
  vertical-align: middle;
  gap: 10px;
}

.cart-item-price {
  background-color: #212529;
  color: white;
  border-radius: 4px;
  padding: 3px 6px;
}

.details {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 1rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
}

@media (max-width: 500px) {
  .cart-item {
    flex-direction: column;
  }

  .details {
    padding-top: 0.5rem;
  }
}