/* ---------- general --------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif; 
    scroll-behavior: smooth;
}

/* variable css */

:root{
        /* margin bottom */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 4rem;
        /* color */
    --main-color: rgb(212, 10, 10);
    --pricing-btn-color: #797f8b;
    --footerBg-color: #292d36;
    --section-color: #f9f9f9;
    
    --favorite-color: rgba(0, 0, 0, 0.3);
        /*  */
        /*  */
        /*  */

}

html{
    scroll-padding-top: 5rem;
}

.layout{
    max-width: 1200px;
    width: 100%;
    margin:auto;
}

section{
    padding: 2rem 6%;
}

section:nth-child(even){
    background-color: var(--section-color);
}

/* ---------- header ---------- */

header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 44;
    transition: 0.4s;
}

header .headerWraper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 3rem;
}

.headerWraper .nav{
    display: flex;
}



.headerWraper .nav a{
    margin-left: 2rem;
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

.headerWraper .nav i{
    color: white;
    padding-left: 2rem;
}

li{
    list-style: none;
}

.headerWraper .logo a{
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--main-color);
}

.headerWraper .menu{
    display: none;
}

/* ---------- sticky navbar  ---------- */

.sticky{
    height: 3rem;
    background-color: var(--footerBg-color);
}

/* ---------- scroll up btn  ---------- */

.scroll-up{
    position: fixed;
    padding: .6rem;
    background-color: var(--main-color);
    color: white;
    border-radius: 4px;
    right: 1.5rem;
    bottom: -20%;
    z-index: 22;
    transform: 0.4s;
    visibility: hidden;
}

.show-scroll{
    visibility: visible;
    bottom: 2rem;
}

/* ---------- scroll active link ---------- */

.link-active,
.nav-link:hover{
    color: var(--main-color) !important;  /* we need !important because we
     alredy assigned a color to .headerWraper .nav a */
}

/* --------- chart dropdown --------------*/
.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    max-width: 100px;
    min-height: auto;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 5px;
}
  
.show {display: block;}
  
.go-to-chart {
    width: 100%;
    border: none;
    padding: 3px;
    background-color: cadetblue;
    color: white;
    margin: 0;
}







@media(max-width:768px){
    .headerWraper .menu{
        display: block;
        color: white;
    }
    .headerWraper .nav{
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: -500%;
        transition: 0.5s;
        background-color: var(--footerBg-color);
        border-radius: 4px;
    }
    .headerWraper .nav li a{
        text-align: center;
        display: block;
        padding: .3rem 0rem;
        color: black;
        margin-left: 0;
    }
    .nav.active{
        top:3rem;
    }
    .headerWraper{
        background-color: #202329;      /* leggermente sfocato da var(--footerBg-color) */
    }
}