/* ---------- general --------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif; 
    scroll-behavior: smooth;
}

/* variable css */

:root{
        /* margin bottom */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 4rem;
        /* color */
    --main-color: rgb(212, 10, 10);
    --pricing-btn-color: #797f8b;
    --footerBg-color: #292d36;
    --section-color: #f9f9f9;
    
    --favorite-color: rgba(0, 0, 0, 0.3);
        /*  */
        /*  */
        /*  */

}

html{
    scroll-padding-top: 5rem;
}

.layout{
    max-width: 1200px;
    width: 100%;
    margin:auto;
}

section{
    padding: 2rem 6%;
}

section:nth-child(even){
    background-color: var(--section-color);
}

/* ---------- header ---------- */

header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 44;
    transition: 0.4s;
}

header .headerWraper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 3rem;
}

.headerWraper .nav{
    display: flex;
}



.headerWraper .nav a{
    margin-left: 2rem;
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

.headerWraper .nav i{
    color: white;
    padding-left: 2rem;
}

li{
    list-style: none;
}

.headerWraper .logo a{
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--main-color);
}

.headerWraper .menu{
    display: none;
}

/* ---------- sticky navbar  ---------- */

.sticky{
    height: 3rem;
    background-color: var(--footerBg-color);
}

/* ---------- scroll up btn  ---------- */

.scroll-up{
    position: fixed;
    padding: .6rem;
    background-color: var(--main-color);
    color: white;
    border-radius: 4px;
    right: 1.5rem;
    bottom: -20%;
    z-index: 22;
    transform: 0.4s;
    visibility: hidden;
}

.show-scroll{
    visibility: visible;
    bottom: 2rem;
}

/* ---------- scroll active link ---------- */

.link-active,
.nav-link:hover{
    color: var(--main-color) !important;  /* we need !important because we
     alredy assigned a color to .headerWraper .nav a */
}

/* --------- chart dropdown --------------*/
.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    max-width: 100px;
    min-height: auto;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 5px;
}
  
.show {display: block;}
  
.go-to-chart {
    width: 100%;
    border: none;
    padding: 3px;
    background-color: cadetblue;
    color: white;
    margin: 0;
}



/* profile */


#navbar{
    margin-left: -35%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}

#navbar a{
    color: white;
    text-decoration: none;
    padding-left: 1rem;
}

.menu-bars{
    margin-left: 2rem;
    font-size: 2rem;
    color: white;
}

#nav-menu {
    background-color: #212121;
    width: 250px;
    height: 50vh;    /*l'altezza*/
    display: flex;
    justify-content: center;
    position: fixed;
    top: .3rem;
    right: -100%;
    transition: 850ms;
    border-radius: 5%;
}

#nav-menu.active{
    right: .3rem;
    transition: 350ms;
}

.nav-text{
    display: flex;
    justify-content: start;
    list-style: none;
    height: 50px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 2rem;
}

.nav-text a{
    text-decoration: none;
    color: #f5f5f5;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.nav-text:hover{
    background-color: #131212;
    cursor: pointer;
    
}

/* .nav-section .nav-icon:hover{
    color: red !important;
} */

.nav-menu-items{
    width: 100%;
}

.nav-icon{
    padding-right: 1rem;
    /* color: #565454; */
    color: rgb(102, 25, 25);
}

#navbar-toggle{
    background-color: #212121;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 15%; 
}

#navbar-toggle h1{
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

#navbar-toggle a{
    text-decoration: none;
}

.nav-section{
    height: 200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}