 /* ---------- home section ---------- */
.bg{
    background-image: url("../images/img1.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.home{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}

.home .content .title{
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;      /* togli se non vuoi il titolo maiuscolo */
    margin-bottom: var(--mb-2);
}

.home .content .title span{         /* change color only to span */
    color: var(--main-color);
}



.home .content .description{
    margin-bottom: var(--mb-2);
    /* margin-top: -6rem; */    /* serviva per quando c'era il logo */
}

.home .content .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
}

.get {
    flex: 1 11rem;
    flex-grow: 0;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    background-color: var(--main-color);
    padding: 6px;
    transition: 0.5s;
}

.learn {
    flex: 1 11rem;
    flex-grow: 0;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 6px;
    border: 1px solid white;
    transition: 0.5s;
}

.get:hover,
.learn:hover{
    letter-spacing: 1px;

}


/* ---------- about section ---------- */

.about{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    margin-top: 2rem;
}

.about .content span{
    color: var(--main-color);
}

.about .content h3, p{
    margin-bottom: var(--mb-1);
}

.about .content .read-more-text{
    display: none;
}

.about .content .read-more-text--show{
    display: inline;                        /*---*/
}

.aboutBtn {
    border: 2px solid var(--main-color);
    padding:  4px;
    background: transparent;
    transition: 0.4s;
    color: black;
}

.about .img-section img{
    width: 100%;
}

.aboutBtn:hover {
    color: white;
    background-color: var(--main-color);
}



/* ---------- courses section ---------- */

.section-title-name{
    text-align: center;
    margin-bottom: var(--mb-5);
}

.course{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap:2rem;
    align-items: center;
}

.course .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--mb-2);
    padding: 6px;
    gap: 1rem;
}

.course .box .img-section{
    flex: 1 7rem;
    flex-grow: 0;
}

.course .box .img-section span{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: block;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---------- courses section animation ----------*/

.course .box:hover span{
    animation: pulse 1s infinite;
}

@keyframes pulse{
    0% {
    box-shadow: 0 0 0 0px rgba(235, 52, 23, 0.5);
    }
    100% {
    box-shadow: 0 0 0 25px rgba(235, 52, 23, 0.5);
    }
}

.course .box .content{
    flex: 1 1 20rem;
}

.course .box .content h3{
    margin-bottom: var(--mb-1);
}

.course .box .content p{
    color: #858686;
}

/* ---------- schedules section ---------- */

.schedules-bg-img{
    background-image: url("../images/push-up.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.schedules .section-title-name{
    color: white;
}

.schedules .schedules-wraper{
    display: grid;
    align-items: center;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(250px,2fr));
    margin-bottom: var(--mb-3);
}

.schedules .schedules-wraper .schedulesBox{
    border: 1px solid white;
    color: white;
    padding: 2rem;
    transform: 0.4s;
    border-radius: 8px;
}

.schedules .schedules-wraper .schedulesBox:hover{
    background-color: white;
    color: black;
}

a{
    color: inherit;
}

/* ---------- pricing section ---------- */

.pricing .pricing-wraper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 2rem;
}

.pricing .pricing-wraper .pricingBox{
    text-align: center;
    padding: 1rem;
    box-shadow: 0px 0px 16px 0px rgba(209, 197, 197, 0.75);
    -webkit-box-shadow: 0px 0px 16px 0px rgba(209, 197, 197, 0.75);
    -moz-box-shadow: 0px 0px 16px 0px rgba(209, 197, 197, 0.75);
}

.pricing .pricing-wraper .pricingBox h3{
    font-size: 1.5rem;
    margin-bottom: var(--mb-2);
}

.pricing .pricing-wraper .pricingBox span{
    font-size: 2rem;
    color: var(--main-color);
    font-weight: 500;
}

.pricing .pricing-wraper .pricingBox ul li{
    margin-bottom: var(--mb-1);
}

.pricing .pricing-wraper .pricingBox .btn{
    border: none;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: var(--footerBg-color);
    color: white;
    padding: .3rem;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 60%;
    transition: 0.5s;

}

/* .pricing .pricing-wraper .pricingBox:nth-child(2) .btn{
    background-color: var(--main-color);
} */

.pricing .pricing-wraper .pricingBox .btn:hover{
    opacity: 0.8;
    cursor: pointer;
}

/* ---------- contact section ---------- */

.contact{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 2rem;
}

/* 
.contact .form h2{
    margin-bottom: var(--mb-3);
    font-size: 1.5rem;
}

.contact .form input:nth-child(-n+3),textarea{
    width: 100%;
    padding: 15px;
    outline: none;
    border: 1px solid black;
    margin-bottom: var(--mb-2);
    border-radius: 4px;
}

input:nth-child(5){
    background-color: var(--main-color);
    padding: 8px;
    border: none;
    font-size: 1rem;
    color: white;
    width: 8rem;
    cursor: pointer;
} */

input:nth-child(5):hover{
    opacity: 0.8;
}

.contact .map-wraper{
    background-image: url("../images/Rome.png");
    width: 100%;
    min-height: 300px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    position: relative;
}

.contact .map-wraper:hover::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.contact .map-wraper a{             /* elimina il simbolo della posizione */
    display: none;
}

.contact .map-wraper:hover a{
    transition: 0.4s;
    display: block;
    z-index: 1;
}

.contact .map-wraper .link i{
    text-align: center;
    padding: 1rem;
    border-radius: 100%;
    color: white;
    background-color: var(--main-color);

}

/* ---------- media query ---------- */

@media(max-width:768px){
    .home .content .title{
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: var(--mb-1);
    }

    .home .content .btn {
        gap:1rem;
    }
    
}

@media(max-width:1024px){
    html{
        font-size: 80%;
    }
}